EasyRtgsWebApplication/EasyRtgs v3/App_WebReferences/comtest/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpUploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ftpHost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filenameToUpload" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uploadFolderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpUploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FtpUploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpDownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ftpFolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpDownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FtpDownloadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpDownloadFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ftpHost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="downloadFolderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpDownloadFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FtpDownloadFileListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FtpDownloadFileStream">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ftpFolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FtpDownloadFileStreamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FtpDownloadFileStreamResult" type="tns:Stream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Stream" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Position" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="ReadTimeout" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="WriteTimeout" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FtpUploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:FtpUploadFile" />
  </wsdl:message>
  <wsdl:message name="FtpUploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:FtpUploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="FtpDownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:FtpDownloadFile" />
  </wsdl:message>
  <wsdl:message name="FtpDownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:FtpDownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="FtpDownloadFileListSoapIn">
    <wsdl:part name="parameters" element="tns:FtpDownloadFileList" />
  </wsdl:message>
  <wsdl:message name="FtpDownloadFileListSoapOut">
    <wsdl:part name="parameters" element="tns:FtpDownloadFileListResponse" />
  </wsdl:message>
  <wsdl:message name="FtpDownloadFileStreamSoapIn">
    <wsdl:part name="parameters" element="tns:FtpDownloadFileStream" />
  </wsdl:message>
  <wsdl:message name="FtpDownloadFileStreamSoapOut">
    <wsdl:part name="parameters" element="tns:FtpDownloadFileStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpUploadFile">
      <wsdl:input message="tns:FtpUploadFileSoapIn" />
      <wsdl:output message="tns:FtpUploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFile">
      <wsdl:input message="tns:FtpDownloadFileSoapIn" />
      <wsdl:output message="tns:FtpDownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFileList">
      <wsdl:input message="tns:FtpDownloadFileListSoapIn" />
      <wsdl:output message="tns:FtpDownloadFileListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFileStream">
      <wsdl:input message="tns:FtpDownloadFileStreamSoapIn" />
      <wsdl:output message="tns:FtpDownloadFileStreamSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpUploadFile">
      <soap:operation soapAction="http://tempuri.org/FtpUploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFile">
      <soap:operation soapAction="http://tempuri.org/FtpDownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFileList">
      <soap:operation soapAction="http://tempuri.org/FtpDownloadFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFileStream">
      <soap:operation soapAction="http://tempuri.org/FtpDownloadFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpUploadFile">
      <soap12:operation soapAction="http://tempuri.org/FtpUploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFile">
      <soap12:operation soapAction="http://tempuri.org/FtpDownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFileList">
      <soap12:operation soapAction="http://tempuri.org/FtpDownloadFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpDownloadFileStream">
      <soap12:operation soapAction="http://tempuri.org/FtpDownloadFileStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.0.0.230/commtest/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.0.0.230/commtest/ws/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>