EasyRtgsWebApplication/EasyRtgs v3/App_WebReferences/namEnqWs/IBSServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IBSBridge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IBSBridgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IBSBridgeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IBSBridgeSoapIn">
    <wsdl:part name="parameters" element="tns:IBSBridge" />
  </wsdl:message>
  <wsdl:message name="IBSBridgeSoapOut">
    <wsdl:part name="parameters" element="tns:IBSBridgeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBSServicesSoap">
    <wsdl:operation name="IBSBridge">
      <wsdl:input message="tns:IBSBridgeSoapIn" />
      <wsdl:output message="tns:IBSBridgeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBSServicesSoap" type="tns:IBSServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IBSBridge">
      <soap:operation soapAction="http://tempuri.org/IBSBridge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IBSServicesSoap12" type="tns:IBSServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IBSBridge">
      <soap12:operation soapAction="http://tempuri.org/IBSBridge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBSServices">
    <wsdl:port name="IBSServicesSoap" binding="tns:IBSServicesSoap">
      <soap:address location="http://10.0.41.102/IBSWS/IBSServices.asmx" />
    </wsdl:port>
    <wsdl:port name="IBSServicesSoap12" binding="tns:IBSServicesSoap12">
      <soap12:address location="http://10.0.41.102/IBSWS/IBSServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>