EasyRtgsWebApplication/EasyRtgs v3/App_WebReferences/TokenServices/TokenValidator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://validator.otp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TokenValidator" targetNamespace="http://validator.otp.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.0.0.242:8080/TokenValidator/TokenValidator?xsd=1" namespace="http://validator.otp.com/" />
    </xsd:schema>
  </types>
  <message name="UnlockToken">
    <part name="parameters" element="tns:UnlockToken" />
  </message>
  <message name="UnlockTokenResponse">
    <part name="parameters" element="tns:UnlockTokenResponse" />
  </message>
  <message name="UnBindUser">
    <part name="parameters" element="tns:UnBindUser" />
  </message>
  <message name="UnBindUserResponse">
    <part name="parameters" element="tns:UnBindUserResponse" />
  </message>
  <message name="EnableToken">
    <part name="parameters" element="tns:EnableToken" />
  </message>
  <message name="EnableTokenResponse">
    <part name="parameters" element="tns:EnableTokenResponse" />
  </message>
  <message name="BindUser">
    <part name="parameters" element="tns:BindUser" />
  </message>
  <message name="BindUserResponse">
    <part name="parameters" element="tns:BindUserResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="CreateUser">
    <part name="parameters" element="tns:CreateUser" />
  </message>
  <message name="CreateUserResponse">
    <part name="parameters" element="tns:CreateUserResponse" />
  </message>
  <message name="validatetoken">
    <part name="parameters" element="tns:validatetoken" />
  </message>
  <message name="validatetokenResponse">
    <part name="parameters" element="tns:validatetokenResponse" />
  </message>
  <message name="sychronizeToken">
    <part name="parameters" element="tns:sychronizeToken" />
  </message>
  <message name="sychronizeTokenResponse">
    <part name="parameters" element="tns:sychronizeTokenResponse" />
  </message>
  <portType name="TokenValidator">
    <operation name="UnlockToken">
      <input wsam:Action="http://validator.otp.com/TokenValidator/UnlockTokenRequest" message="tns:UnlockToken" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/UnlockTokenResponse" message="tns:UnlockTokenResponse" />
    </operation>
    <operation name="UnBindUser">
      <input wsam:Action="http://validator.otp.com/TokenValidator/UnBindUserRequest" message="tns:UnBindUser" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/UnBindUserResponse" message="tns:UnBindUserResponse" />
    </operation>
    <operation name="EnableToken">
      <input wsam:Action="http://validator.otp.com/TokenValidator/EnableTokenRequest" message="tns:EnableToken" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/EnableTokenResponse" message="tns:EnableTokenResponse" />
    </operation>
    <operation name="BindUser">
      <input wsam:Action="http://validator.otp.com/TokenValidator/BindUserRequest" message="tns:BindUser" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/BindUserResponse" message="tns:BindUserResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://validator.otp.com/TokenValidator/helloRequest" message="tns:hello" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="CreateUser">
      <input wsam:Action="http://validator.otp.com/TokenValidator/CreateUserRequest" message="tns:CreateUser" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/CreateUserResponse" message="tns:CreateUserResponse" />
    </operation>
    <operation name="validatetoken">
      <input wsam:Action="http://validator.otp.com/TokenValidator/validatetokenRequest" message="tns:validatetoken" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/validatetokenResponse" message="tns:validatetokenResponse" />
    </operation>
    <operation name="sychronizeToken">
      <input wsam:Action="http://validator.otp.com/TokenValidator/sychronizeTokenRequest" message="tns:sychronizeToken" />
      <output wsam:Action="http://validator.otp.com/TokenValidator/sychronizeTokenResponse" message="tns:sychronizeTokenResponse" />
    </operation>
  </portType>
  <binding name="TokenValidatorPortBinding" type="tns:TokenValidator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="UnlockToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UnBindUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnableToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BindUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validatetoken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sychronizeToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TokenValidator">
    <port name="TokenValidatorPort" binding="tns:TokenValidatorPortBinding">
      <soap:address location="http://10.0.0.242:8080/TokenValidator/TokenValidator" />
    </port>
  </service>
</definitions>