EasyRtgsWebApplication/EasyRtgs v3/App_WebReferences/nameEnquiry/justNameEnquiry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NameEnquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NameEnquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NameEnquiryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NameEnquirySoapIn">
    <wsdl:part name="parameters" element="tns:NameEnquiry" />
  </wsdl:message>
  <wsdl:message name="NameEnquirySoapOut">
    <wsdl:part name="parameters" element="tns:NameEnquiryResponse" />
  </wsdl:message>
  <wsdl:portType name="JustNameEnquirySoap">
    <wsdl:operation name="NameEnquiry">
      <wsdl:input message="tns:NameEnquirySoapIn" />
      <wsdl:output message="tns:NameEnquirySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JustNameEnquirySoap" type="tns:JustNameEnquirySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NameEnquiry">
      <soap:operation soapAction="http://tempuri.org/NameEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JustNameEnquirySoap12" type="tns:JustNameEnquirySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NameEnquiry">
      <soap12:operation soapAction="http://tempuri.org/NameEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JustNameEnquiry">
    <wsdl:port name="JustNameEnquirySoap" binding="tns:JustNameEnquirySoap">
      <soap:address location="https://192.168.1.28/nfplive/justNameEnquiry.asmx" />
    </wsdl:port>
    <wsdl:port name="JustNameEnquirySoap12" binding="tns:JustNameEnquirySoap12">
      <soap12:address location="https://192.168.1.28/nfplive/justNameEnquiry.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>