EasyRTGSJobs/easiRTGSBatch/easiRTGSBatch/Web References/pay/easyrtgs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="creditCollectionAcct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creditCollectionAcctResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCollectionAcctResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creditCollectionAcct2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="docnum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creditCollectionAcct2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCollectionAcct2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creditCollectionAcct3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="docnum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creditCollectionAcct3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCollectionAcct3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="creditCollectionAcctSoapIn">
    <wsdl:part name="parameters" element="tns:creditCollectionAcct" />
  </wsdl:message>
  <wsdl:message name="creditCollectionAcctSoapOut">
    <wsdl:part name="parameters" element="tns:creditCollectionAcctResponse" />
  </wsdl:message>
  <wsdl:message name="creditCollectionAcct2SoapIn">
    <wsdl:part name="parameters" element="tns:creditCollectionAcct2" />
  </wsdl:message>
  <wsdl:message name="creditCollectionAcct2SoapOut">
    <wsdl:part name="parameters" element="tns:creditCollectionAcct2Response" />
  </wsdl:message>
  <wsdl:message name="creditCollectionAcct3SoapIn">
    <wsdl:part name="parameters" element="tns:creditCollectionAcct3" />
  </wsdl:message>
  <wsdl:message name="creditCollectionAcct3SoapOut">
    <wsdl:part name="parameters" element="tns:creditCollectionAcct3Response" />
  </wsdl:message>
  <wsdl:portType name="easyrtgsSoap">
    <wsdl:operation name="creditCollectionAcct">
      <wsdl:input message="tns:creditCollectionAcctSoapIn" />
      <wsdl:output message="tns:creditCollectionAcctSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="creditCollectionAcct2">
      <wsdl:input message="tns:creditCollectionAcct2SoapIn" />
      <wsdl:output message="tns:creditCollectionAcct2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="creditCollectionAcct3">
      <wsdl:input message="tns:creditCollectionAcct3SoapIn" />
      <wsdl:output message="tns:creditCollectionAcct3SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="easyrtgsSoap" type="tns:easyrtgsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creditCollectionAcct">
      <soap:operation soapAction="http://tempuri.org/creditCollectionAcct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditCollectionAcct2">
      <soap:operation soapAction="http://tempuri.org/creditCollectionAcct2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditCollectionAcct3">
      <soap:operation soapAction="http://tempuri.org/creditCollectionAcct3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="easyrtgsSoap12" type="tns:easyrtgsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creditCollectionAcct">
      <soap12:operation soapAction="http://tempuri.org/creditCollectionAcct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditCollectionAcct2">
      <soap12:operation soapAction="http://tempuri.org/creditCollectionAcct2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditCollectionAcct3">
      <soap12:operation soapAction="http://tempuri.org/creditCollectionAcct3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="easyrtgs">
    <wsdl:port name="easyrtgsSoap" binding="tns:easyrtgsSoap">
      <soap:address location="http://10.0.0.159:811/easyrtgs.asmx" />
    </wsdl:port>
    <wsdl:port name="easyrtgsSoap12" binding="tns:easyrtgsSoap12">
      <soap12:address location="http://10.0.0.159:811/easyrtgs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>