EasyRtgsWebApplication/EasyRtgs v3/App_WebReferences/easyrtgsapi/easyrtgsapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="doNameEnquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doNameEnquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doNameEnquiryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doNameEnquirySoapIn">
    <wsdl:part name="parameters" element="tns:doNameEnquiry" />
  </wsdl:message>
  <wsdl:message name="doNameEnquirySoapOut">
    <wsdl:part name="parameters" element="tns:doNameEnquiryResponse" />
  </wsdl:message>
  <wsdl:portType name="easyrtgsapiSoap">
    <wsdl:operation name="doNameEnquiry">
      <wsdl:input message="tns:doNameEnquirySoapIn" />
      <wsdl:output message="tns:doNameEnquirySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="easyrtgsapiSoap" type="tns:easyrtgsapiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doNameEnquiry">
      <soap:operation soapAction="http://tempuri.org/doNameEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="easyrtgsapiSoap12" type="tns:easyrtgsapiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doNameEnquiry">
      <soap12:operation soapAction="http://tempuri.org/doNameEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="easyrtgsapi">
    <wsdl:port name="easyrtgsapiSoap" binding="tns:easyrtgsapiSoap">
      <soap:address location="http://10.0.0.230/EasyRtgsV2/ws/easyrtgsapi.asmx" />
    </wsdl:port>
    <wsdl:port name="easyrtgsapiSoap12" binding="tns:easyrtgsapiSoap12">
      <soap12:address location="http://10.0.0.230/EasyRtgsV2/ws/easyrtgsapi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>